html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.5s ease;
}
h2 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}
a:hover {
    transform: scale(1.1);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50px;
    transition: 0.5s ease;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header {
    /* margin-bottom: 228px; */
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white; /* Начальный цвет */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

/* Класс для изменения цвета при скролле */
header.scrolled {
    background-color: rgb(219, 232, 188); /* Светло-зеленый цвет */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для выделения */
}

/* Добавьте отступ для контента, чтобы он не скрывался под фиксированным меню */
main {
    padding-top: 116px; /* Высота хедера */
}
.header_block {
    display: flex;
    align-items: center;
    padding: 0 164px 0 187px;
    min-height: 116px;
    margin: 0 auto;
    justify-content: space-between;
}
nav {
    display: flex;
    font-size: 24px;
    align-items: center;
    gap: 22px;
}
.item5 {
    background: rgb(216, 229, 147);
    width: 197px;
    height: 68px;
}

.item5:hover {
    transform: scale(1.1);
    background: rgb(200, 215, 130);
}
/* При скролле можно изменить цвет кнопки для контраста */
header.scrolled .item5 {
    background: white; /* Меняем на белый, когда хедер становится зеленым */
}
.banner {
    margin-bottom: 294px;
    margin-top: 224px;
}
.banner_block {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}
.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}
.name {
    font-family: Pinyon Script;
    font-size: 200px;
    line-height: 160px;
}
.banner-left p{
    font-size: 36px;
    margin-bottom: 37px;
}
.banner-left a {
    width: 239px;
    height: 68px;
    background: rgb(216, 229, 147);
}
.banner-right {
    position: relative;
}
.banner-right img:nth-child(2) {
    position: absolute; top: 10px; left: 15px;
}
.about_as {
    margin-bottom: 119px;
}
.about_as_block {
    display: flex;
    max-width: 1295px;
    min-height: 823px;
    justify-content: space-between;
    margin: 0 auto;

}
.about-left {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 55px;
    width: 715px;
}
.about-left h2 {
    margin-bottom: 54px;
}
.about-left p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07px;
    margin-bottom: 31px;
}
.about-left dl{
    font-size: 20px;
}
.about-right {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
}
.about-right img {
    align-self: center;
}
.about-right {
    position: relative;
}
.about-right img:nth-child(2) {
    position: absolute; top: 150px; left: 182px;
}
.about-right img:nth-child(3) {
    margin-top: 35px;
}
.price {
    margin-bottom: 178px;
}
.price h2 {
    text-align: center;
    margin-bottom: 73px;
}
.price-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1308px;
    margin: 0 auto;
    gap: 23px;
    justify-content: center;
    align-items: center;
}
.price-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 4px 4px black;
}
.price-item1 {
    background: url(../img/pr1.png);
}
.price-item2 {
    background: url(../img/pr2.png);
}
.price-item3 {
    background: url(../img/pr3.png);
}
.price-item4 {
    background: url(../img/pr4.png);
}
.price-item5 {
    background: url(../img/pr5.png);
}
.price-item6 {
    background: url(../img/pr6.png);
}
.price-item7 {
    background: url(../img/pr7.png);
}
.price-item8 {
    background: url(../img/pr8.png);
}
.our_works h2 {
    margin-left: 344px;
    margin-bottom: 31px;
}
.carousel {
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 1312px;
    min-height: 339px;
    margin: 0 auto 190px;
    background: rgb(252, 199, 159);
    position: relative;
    transition: transform 0.5s ease; /* Плавная анимация прокрутки */
}
.carousel a {
    display: inline-block;
    margin: 30px 20px;
    height: 283px; /* Высота изображений */
    object-fit: cover;
    border-radius: 3px;
}
::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome/Safari */
}
.carousel {
    -ms-overflow-style: none; /* Скрываем скроллбар в IE/Edge */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}
.reviews {
    margin-bottom: 143px;
}
.reviews_block {
    display: flex;
    flex-direction: column;
    max-width: 1313px;
    min-height: 500px;
    margin: 0 auto;

}
.reviews_block h2 {
    text-align: center;
    margin-bottom: 45px;
}
.comments {
    display: flex;
    flex-direction: column;
    height: 320px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 40px;
}
.comments p {
    margin-bottom: 40px;
    background: rgb(216, 229, 147);
    border-radius: 5px;
}
.reviews_block a {
    align-self: flex-end;
    background: white;
    width: 308px;
    height: 49px;
    border: 3px solid rgb(124, 179, 68);
}
.our_studio {
    margin-bottom: 193px;
}
.our_studio_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 50px;
    background: rgb(124, 179, 68);
    max-width: 1137px;
    min-height: 618px;
    padding-left: 95px;
    padding-top: 57px;
    color: white;
}
.our_studio_box h2 {
    margin-bottom: 15px;
}
.our_studio_box p {
    font-size: 24px;
    margin-bottom: 21px;
}
.our_studio_box a {
    width: 233px;
    height: 49px;
    background: #fff;
    margin-bottom: 44px;
}
.our_studio_imgs {
    display: flex;
    gap: 37px;
}
.our_studio_imgs img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer {
}
.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
footer img:nth-child(1) {
    align-self: flex-end;
    margin-right: 193px;
}

footer img:nth-child(3) {
    margin-right: 60px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.contacts p {
    font-size: 24px;
}
.contacts p:nth-child(1) {
    font-size: 64px;

}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 70px;
}
.social-icons i {
    font-size: 30px;
    color: #333;
    transition: all 0.3s ease;
}
.social-icons i:hover {
    color: #007bff;
}
/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте при прокрутке */
    z-index: 1000; /* Поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Прокрутка, если содержимое не помещается */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

/* Содержимое модального окна */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Центрирование по вертикали */
    padding: 20px;
    border: 1px solid #888;
    max-width: 844px; /* Максимальная ширина */
    min-height: 1036px;
    border-radius: 10px; /* Скругленные углы */
    position: relative;
}

/* Кнопка закрытия */
#closeModalBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

#closeModalBtn:hover {
    color: #f00; /* Красный цвет при наведении */
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049; /* Темно-зеленый при наведении */
}
/* @media screen and (max-width: 1600px) {
    footer img:nth-child(1) {
        margin-right: 0;
    }
    footer img:nth-child(3) {
        margin-right: 0;
    }
} */
@media screen and (max-width: 1350px) {
    .header_block {
        margin: 0 20px;
        padding: 0;
        min-height: 230px;
    }
    .logo img{
        width: 170px;
        height: auto; /* Сохраняет пропорции */
        margin-left: 80px;
    }
    .item {
        margin-right: 80px;
        font-size: 40px;
        gap: 26px;
    }
    .item5 {
        width: 250px;
        font-size: 40px;
    }
    main {
        padding-top: 360px; /* Высота хедера */
    }
    .banner_block {
        flex-direction: column;
        align-items: center;
    }
    .name {
        font-size: 300px;
        line-height: 160px;
    }
    .banner-left p{
        font-size: 47px;
    }
    .banner-left a{
        font-size: 40px;
        width: 300px;
    }
    .banner-right{
        order: -1;
        position: relative;
    }
    .banner-right img {
        width: 300px;
        height: 290px;
    }
    .banner-right img:nth-child(2) {
        position: absolute; top: 0px; left: -7px;
    }
    footer img:nth-child(1) {
        width: 200px;
    }
    footer img:nth-child(3) {
        width: 200px;
    }
    .contacts {
    }
    .contacts p {
        font-size: 16px;

    }
    .contacts p:nth-child(1) {
        font-size: 44px;
        margin-bottom: 27px;
    }
    
}
@media screen and (max-width: 1080px) {
    .our_studio_imgs img {
        width: 171px;
        height: 144px;
    }
    header {
        margin-bottom: 60px;
    }
    .banner-left {
        margin-top: 0;
    }
    .banner-left p {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .banner-left a {
        width: 149px;
        height: 42px;
        font-size: 16px;
    }

    .item {
        display: flex;
        font-size: 20px;
        align-items: center;
        gap: 10;
    }
    .item1 {
        width: 71px;
    }
    .item2 {
        width: 61px;
    }
    .item3 {
        width: 65px;
    }
    .item4 {
        width: 79px;
    }
    .item5 {
        width: 120px;
        height: 31px;
    }
    .name {
        font-size: 150px;
        line-height: 110px;
    }

}
@media screen and (max-width: 750px) {
    .banner-right img {
        width: 174px;
        height: 161px;
    }
    .contacts p:nth-child(1) {
        font-size: 35px;
        /* margin-bottom: 27px; */
    }
    .item5.button {
        width: 120px;
        height: 40px;
        font-size: 20px;
        top: 10px;
        right: 10px;
    }
}