html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.5s ease;
}
h2 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}
a:hover {
    transform: scale(1.1);
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    padding: 0 165px 0 187px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 220px;
}
nav {
    display: flex;
    font-size: 24px;
    height: 116px;
    align-items: center;
    letter-spacing: 0.01px;
}
.item1 {
    width: 83px;
}
.item2 {
    width: 117px;
    margin-left: 16px;
}
.item3 {
    width: 118px;
    margin-left: 17px;
}
.item4 {
    width: 145px;
    margin-left: 21px;
}
.item5 {
    width: 197px;
    margin-left: 39px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50px;
    background: rgb(216, 229, 147);
    width: 197px;
    height: 68px;
    transition: 0.5s ease;
}
.banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 800px;
    margin-bottom: 30px;
}
.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:86px 0 0 204px;
}
.banner-left p:nth-child(1) {
    font-family: Pinyon Script;
    font-size: 200px;
    height: 192px;
    margin-bottom: 10px;
}
.banner-left p:nth-child(2) {
    font-size: 36px;
    margin-bottom: 37px;
}
.banner-left .button {
    width: 239px;
}
.bunner-right {
    position: relative;
    margin-right: 163px;
}
.bunner-right img:nth-child(2) {
    position: absolute; top: 10px; left: 15px;
}
.about_as {
    display: flex;
    width: 1295px;
    height: 823px;
    align-content: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 120px;
}
.about-left {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 55px;
    width: 715px;
}
.about-left h2 {
    margin-bottom: 54px;
}
.about-left p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07px;
    margin-bottom: 31px;
}
.about-right {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
}
.about-right img {
    align-self: center;
}
.about-right {
    position: relative;
}
.about-right img:nth-child(2) {
    position: absolute; top: 150px; left: 182px;
}
.about-right img:nth-child(3) {
    margin-top: 35px;
}
.price h2 {
    text-align: center;
    margin-bottom: 73px;
}
.price-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1308px;
    margin: 0 auto 177px;
    gap: 23px;
    justify-content: center;
    align-items: center;
}
.price-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    text-shadow: 0px 4px 4px black;
}
.price-item1 {
    background: url(../img/pr1.png);
}
.price-item2 {
    background: url(../img/pr2.png);
}
.price-item3 {
    background: url(../img/pr3.png);
}
.price-item4 {
    background: url(../img/pr4.png);
}
.price-item5 {
    background: url(../img/pr5.png);
}
.price-item6 {
    background: url(../img/pr6.png);
}
.price-item7 {
    background: url(../img/pr7.png);
}
.price-item8 {
    background: url(../img/pr8.png);
}
.our_works h2 {
    margin-left: 344px;
    margin-bottom: 31px;
}
.carousel {
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 1312px;
    min-height: 339px;
    margin: 0 auto 190px;
    background: rgb(252, 199, 159);
}
.our_works_items a {
    display: inline-block;
    margin: 30px 20px;
    height: 283px; /* Высота изображений */
    object-fit: cover;
    border-radius: 3px;
}
::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome/Safari */
}
.carousel {
    -ms-overflow-style: none; /* Скрываем скроллбар в IE/Edge */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}
.reviews h2 {
    text-align: center;
    margin-bottom: 45px;
}
.comments {
    display: flex;
    flex-direction: column;
    max-width: 1313px;
    min-height: 320px;
    margin: 0 auto 36px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 24px;
    padding: 20px;
}
.comments p {
    margin-bottom: 40px;
    background: rgb(216, 229, 147);
    border-radius: 5px;
}
.rev-button {
    display: flex;
    width: 1313px;
    margin: 0 auto 146px;
    justify-content: flex-end;
}
.reviews .button{
    background: white;
    width: 308px;
    height: 49px;
    border: 3px solid rgb(124, 179, 68);
}
.our_studio {
    margin-bottom: 193px;
}
.our_studio_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 50px;
    background: rgb(124, 179, 68);
    max-width: 1137px;
    min-height: 618px;
    padding-left: 95px;
    padding-top: 57px;
}
.our_studio_box h2 {
    color: white;
    margin-bottom: 15px;
}
.our_studio_box p {
    font-size: 24px;
    color: white;
    margin-bottom: 21px;
}
.our_studio_box .button {
    background: white;
    width: 233px;
    height: 49px;
    border: 3px solid rgb(124, 179, 68);
    margin-bottom: 44px;
}
.our_studio_imgs {
    display: flex;
    gap: 37px;
}
.our_studio_imgs img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer {
    display: flex;
    justify-content: flex-end;
}
footer img:nth-child(3) {
    padding-right: 56px;
}
.contacts {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}
.contacts p:nth-child(1) {
    font-size: 64px;
}
.contacts p:nth-child(2) {
    font-size: 24px;
}
.contacts p:nth-child(4) {
    font-size: 24px;
}
.social-icons {
}
.bi {
}
.bi-facebook {
}
.bi-twitter {
}
.bi-instagram {
}
.bi-whatsapp {
}
