@font-face {
 font-family: "Simplar";
 font-weight: 400;
 src: url("/static/font/Simplar-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Simplar";
 font-weight: 600;
 src: url("/static/font/Simplar-Semibold.woff2") format("woff2");
}

@font-face {
 font-family: "Simplar";
 font-weight: 700;
 src: url("/static/font/Simplar-Bold.woff2") format("woff2");
}
